body {
    font-family: 'Comfortaa', cursive;
    font-size: 23px;
    font-weight: 700;
    background-color: #75c8ae;
    color: #5a3d2b
}

#title {
    font-size: 45px;
    text-align: center;
    padding: 25px 50px 25px 50px;
    color: #f4a127;
    background-color: #5a3d2b;
    margin-bottom: 25px;
    margin-top: 10px;
    border-radius: 25px;
}

#directions {
    font-size: 26px;
    padding-top: 10px;
    color: #e5771e; 
}

.container {
    min-width: 920px;
    width: 90%;
    max-width: 1920px;
    align-content: center;
    margin: auto;
    overflow: auto; 
}

#gif-form {
    float: right;
    padding: 50px 100px;
}

#gifs {
    padding: 25px;
}

/* Submit Button */
#add-gif {
    background-color: #f4a127;
    color: white;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

#add-gif:hover {
    background-color: #e5771e; 
  } 

.gif {
    background-color: #f4a127;
    color: white;
    padding: 8px;
    margin: 3px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.gif:hover {
    background-color: #e5771e; 
}

#gif-input {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 271px; 
    font-size: 20px; 
}

@media only screen and (max-width: 980px) {
    .container {
        min-width: 767px;
        width: 90%;
        max-width: 980px;  
}

@media only screen and (max-width: 768px) {
    .container {
        min-width: 480px;
        width: 90%;
        max-width: 768px;
    }#title {
        font-size: 37px;
    }
    #directions {
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        min-width: 320px;
        width: 90%;
        max-width: 480px;
    }#title {
        font-size: 37px;
    }
    #directions {
        font-size: 18px;
    } 
}

