body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.buttons {
    background-color: #29bdbb;
    color: white;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.buttons:hover {
    background-color: #208f8e 
  }

#form {
    float: right;
}
